@page
@model Cyberpunk_Helper_GUI.Pages.ViewCharacter.ViewCharacter;
@{
    ViewData["Title"] = Model.Character.Handle;
}



<div class="text-center">
    <div class="page-header">
        <h1>@Html.DisplayFor(m => m.Character.Handle)</h1>
    </div>
    <table style="width: 100%">
        <tbody>
            <tr>
                <td>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Vitality
                        </div>
                        <div class="panel-body">
                            <p>
                                HitPoints: <b>@Html.DisplayFor(m => m.Character.Health.Hitpoints)</b>
                                <br><br>
                                Humanity: <b>@Html.DisplayFor(m => m.Character.Health.Hitpoints)</b>
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Stats
                        </div>
                        <div class="panel-body">
                            @foreach (var stat in Model.Character.Stats.Stats)
                            {
                                <p>@stat.Name (@stat.StatGroup): <b>@stat.Value</b></p>
                            }
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
