@page
@model Cyberpunk_Helper_GUI.Pages.ViewCharacter.ViewAllCharacters;
@{
    ViewData["Title"] = "View Characters";
}

<div class="text-center">
    <div class="page-header">
        <h1>Characters</h1>
    </div>
    <div>
        @foreach (var item in Model.AllCharacters.Characters)
        {
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <a asp-page="/ViewCharacter/ViewCharacter" asp-route-name=@item><h4>@item</h4></a>
                </div>
                <div class="panel-body">
                    <h4>This is a Character.</h4>
                </div>
            </div>
        }
    </div>
</div>
