﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <div class="page-header">
        <h1>CYBERPUNK RED</h1>
        <h2>Character Manager</h2>
    </div>
    <div>
        <a asp-area="" asp-page="/CharacterCreation/CreateCharacter" class="btn btn-primary btn-lg" style="margin: 15px">Create Character</a>
        <a asp-area="" asp-page="/ViewCharacter/ViewAllCharacters" class="btn btn-primary btn-lg" style="margin: 15px">View Characters</a>
    </div>
</div>
