@page
@model Cyberpunk_Helper_GUI.Pages.CharacterCreation.ChooseSkills;
@{
    ViewData["Title"] = "Create Your Character";
}

<div class="text-center">
    <h1>@ViewData["Handle"]</h1>
    <form method="post">
        <h2>What are your character's stats?</h2>
        <p>
            Type Your Intelligence:
            <input asp-for="Character.Int" />
            </br>
            Type Your Reflexes:
            <input asp-for="Character.Ref" />
            </br>
            Type Your Dexterity:
            <input asp-for="Character.Dex" />
            </br>
            Type Your Technique:
            <input asp-for="Character.Tech" />
            </br>
            Type Your Cool:
            <input asp-for="Character.Cool" />
            </br>
            Type Your Will:
            <input asp-for="Character.Will" />
            </br>
            Type Your Luck:
            <input asp-for="Character.Luck" />
            </br>
            Type Your Move:
            <input asp-for="Character.Move" />
            </br>
            Type Your Body:
            <input asp-for="Character.Body" />
            </br>
            Type Your Empathy:
            <input asp-for="Character.Emp" />
            <input type="hidden" asp-for="Character.Handle"/>
            </br>
        </p>
        <input type="submit" />
    </form>
</div>
