@page
@model Cyberpunk_Helper_GUI.Pages.CharacterCreation.CreateCharacter;
@{
    ViewData["Title"] = "Create Your Character";
}

<div>
    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-danger" style="width: 10%"></div>
    </div>

    <form method="post" class="form-horizontal">
        <div class="page-header">
            <h1 class="text-center" id="Nav">Basic Info</h1>
        </div>

        <h2>Handle:</h2>
        <input class="form-control" id="focusedInput" asp-for="Character.Handle" class="col-lg-10" />
        </br>
        <h2>Role:</h2>
        <select class="form-control" asp-for="Character.Role" asp-items="Html.GetEnumSelectList<Role>()">
            <option value="">(Choose Role)</option>
        </select>
        </br>
        </br>
        <input type="submit" class="btn btn-primary" value="Next">
    </form>
</div>
