﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CYBERPUNK RED - Character Manager</title>
    <link rel="stylesheet" href="~/lib/theme/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a asp-area="" asp-page="/Index">Home</a>
        <a asp-area="" asp-page="/CharacterCreation/CreateCharacter">Create Character</a>
        <a asp-area="" asp-page="/ViewCharacter/ViewAllCharacters">View Characters</a>
    </div>

    <div id="main">
        <button class="openbtn" onclick="openNav()">☰</button>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sidebar.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
